<!DOCTYPE html>
<html>
<head>
<title>Dice game</title>
<script type="text/css" src="../../assets/css/dice.css"></script>
</head>
<body>

<section>
    <div id="dice1" class="dice"><img src="../../assets/img/dice/01.jpg"></div>
    <div id="dice2" class="dice"><img src="../../assets/img/dice/02.jpg"></div>
    <div id="dice3" class="dice"><img src="../../assets/img/dice/03.jpg"></div>
    <div id="dice4" class="dice"><img src="../../assets/img/dice/04.jpg"></div>
    <div id="dice5" class="dice"><img src="../../assets/img/dice/05.jpg"></div>
    <div id="dice6" class="dice"><img src="../../assets/img/dice/06.jpg"></div>

    <button class="button" onclick="rollDice()">Roll dice</button>
</section>

</body>
</html> 