.dice {
    color: black;
    font-size: 62px;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 20px;
    cursor: pointer;
}

.betting{
    font-weight: bold;
    font-size: 20px;
}