@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
a{
	color: #283593;
	text-decoration: none;
}
h3{
	margin-top: 12px;
}


section#slotBox{
	border-radius: 5px;
	background-color: #283593;
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: calc((100% - 580px) / 2);
	width: 550px;
}
section#status{
	margin-bottom: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
	border-radius: 5px;
	text-align: center;
	background-color: black;
	color: #FFFFFF;
	font-size: 25px;
	font-family: 'Roboto Mono', monospace;
}
section#Slots{
	border-radius: 15px;
	background-color: #FAFAFA;
}
section#Start{
	margin-top: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
	border-radius: 5px;
	text-align: center;
	background-color: #ea0000;
	color: #FFFFFF;
	font-size: 25px;
}
section#Start:hover{
	background-color: #fd0000;
	cursor : pointer;
}
section#options{
	margin-top: 20px;
	padding-top: 5px;
	border-radius: 5px;
	background-color: green;
	color: #FFFFFF;
}
.option{
	padding-left: 5px;
}
section#info{
	background-color: #616161;
	padding-left: 12px;
	padding-bottom: 12px;
	border-radius: 5px;
	overflow: hidden;
	animation-duration: 1s;
	color: #BDBDBD;
	margin-top: 50px;
	margin-left: 30%;
	margin-right: 30%;
	display: none;
}
#slot1, #slot2, #slot3{
	display: inline-block;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	background-size: 150px;
	width: 150px;
	height: 150px;
}
.a1{
	background-image: url("../img/slotgame/seven.png");
}
.a2{
	background-image: url("../img/slotgame/cherries.png");
}
.a3{
	background-image: url("../img/slotgame/club.png");
}
.a4{
	background-image: url("../img/slotgame/diamond.png");
}
.a5{
	background-image: url("../img/slotgame/heart.png");
}
.a6{
	background-image: url("../img/slotgame/spade.png");
}
.a7{
	background-image: url("../img/slotgame/joker.png");
}